numpy>=1.26,<3
matplotlib>=3.8
Pillow>=10.0
SimpleITK>=2.3
pandas>=2.1
streamlit>=1.32
openai>=1.40
python-dotenv>=1.0
PyWavelets>=1.4
pykwalify>=1.8
pyradiomics @ git+https://github.com/AIM-Harvard/pyradiomics.git
